body {
  font-family: sans-serif;
  margin: auto;
  width: 80%;
}

table {
  width: 80%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  padding: 15px;
}

th {
  background-color: #4CAF50;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

